<!DOCTYPE html>
<html lang="de">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />

    <title>{{ meta.title }}</title>

    <link rel="stylesheet" href="/css/style.css" />
    <script src="/js/hello.js"></script>
  </head>
  <body>
    <header class="max-w-screen-xl mx-auto mb-12 md:mb-16 xl:mb-24 px-4 xl:px-0">
      {% include "partials/header.html" %}
    </header>

    <main class="max-w-screen-xl mx-auto mb-12 px-4 xl:px-0">
      {% block content %}{{ content | safe }}{% endblock %}
    </main>

  </body>
</html>
