---
layout: layouts/base.njk
---

<div>
  <h1 class="flex flex-col leading-none">
    <span class="flex">
      <span class="text-4xl font-bold leading-none mr-2">Focus</span>
      <span class="text-4xl font-bold leading-none">Shift</span>
    </span>
    <span class="flex">
      <span class="text-2xl leading-none mr-2">Software</span>
      <span class="text-2xl leading-none ml-px" style="letter-spacing: 0.22rem">GmbH</span>
    </span>
  </h1>
</div>
