name: update uv screenshots

on:
  schedule:
    # “At 02:30.”
    - cron: "30 2 * * *"
  workflow_dispatch:

jobs:
  screenshot:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v4
        with:
          token: ${{ secrets.PAT }}
      - name: setup node 20
        uses: actions/setup-node@v5
        with:
          node-version: "20"
      - name: take screenshots
        run: |
          npm install puppeteer --no-save
          node scripts/screenshot.js
      - name: update screenshots
        run: |
          git config --local user.name "Alfred Pennyworth[bot]"
          git config --local user.email alfred.pennyworth@urlaubsverwaltung.cloud
          git diff --quiet --name-only src/assets/uv-startseite.png || (git add src/assets/uv-startseite.png; git commit -m  "Update uv-startseite.png")
          git diff --quiet --name-only src/assets/uv-startseite-mobile.png || (git add src/assets/uv-startseite-mobile.png; git commit -m  "Update uv-startseite-mobile.png")
      - name: push screenshot updates
        uses: ad-m/github-push-action@v0.8.0
        with:
          github_token: ${{ secrets.PAT }}
          branch: ${{ github.ref }}
