<div class="mb-6">
  <small class="text-gray-100 text-opacity-75 text-base"> © 2020 Focus Shift Software GmbH </small>
</div>
<div class="flex justify-between">
  <div>
      <a
        href="mailto:info@focus-shift.de"
        class="flex text-gray-100 text-opacity-75 hover:text-opacity-100 focus:text-opacity-100 transition-opacity duration-100"
      >
        <svg
          class="w-6 h-6 mr-2"
          fill="none"
          stroke="currentColor"
          viewBox="0 0 24 24"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M3 8l7.89 5.26a2 2 0 002.22 0L21 8M5 19h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v10a2 2 0 002 2z"
          ></path>
        </svg>
        info@focus-shift.de
      </a>
    </span>
  </div>
  <ul>
    <li>
      <a
        href="/impressum"
        class="text-gray-100 text-opacity-75 hover:text-opacity-100 focus:text-opacity-100 transition-opacity duration-100"
        >Impressum</a
      >
    </li>
  </ul>
</div>
