<nav class="w-full max-w-screen-xl flex justify-end mb-12">
  <ul class="flex flex-row space-x-8 py-1">
    <li>
      <a
        href="/impressum"
        class="text-black text-opacity-50 hover:text-opacity-100 transition-colors duration-100"
        >Impressum</a
      >
    </li>
  </ul>
</nav>
<div class="mx-auto">
  <h1 class="flex flex-col leading-none">
    <a href="/">
      <span class="flex">
        <span class="text-6xl font-bold leading-none mr-4">Focus</span>
        <span class="text-6xl font-bold leading-none">Shift</span>
      </span>
      <span class="flex">
        <span class="text-4xl leading-none mr-4" style="letter-spacing: 0.25rem"
          >Software</span
        >
        <span
          class="text-4xl leading-none ml-px"
          style="letter-spacing: 0.65rem"
          >GmbH</span
        >
      </span>
    </a>
  </h1>
</div>
